{% extends 'base.html' %}

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Feane
              </h2>
            </div>
            <p>

            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
        <form>
        <div class="stars">
            <span class="star" data-value="5">★</span>
            <span class="star" data-value="4">★</span>
            <span class="star" data-value="3">★</span>
            <span class="star" data-value="2">★</span>
            <span class="star" data-value="1">★</span>
        </div>
        <input type="text" id="rating" readonly placeholder="Tanlangan baho">
    </form>
    </div>
  </section>

  <!-- end about section -->



